.main-container
{
    display: flex;
    justify-content: space-around;

}
.cart-container
{
    width: 10%;
    box-shadow: 4px 4px 8px gray;
    margin: auto;
    text-align: center;
    position: fixed;
    top: 0px;
    right:0px;
}

.product-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;margin: auto;
    text-align: center;
}
.card{
    border:2px solid gray ;
    padding: 10px;

}
.card-img{
    width: 100px;
    padding: 15px;
    top: auto;
}
.cart-info{
    display: flex;
    justify-content: space-around;
    background-color: brown;
}
